/****** PRIMARY STYLING ******/
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  font-size: 100%;
  font-family: sans-serif;
  color: white;
  background-color: #b2b2b2;
}
body.overflow-hidden {
  /* when primary navigation is visible, the content in the background won't scroll */
  overflow: hidden;
}
a {
  color: white;
  text-decoration: none;
}
section {
  width: 100%;
  min-height: 100%;
  padding: 15vh 15vw;
}
#link3,
#link1 {
  background-color: #222222;
}
footer {
  text-align: center;
  padding: 2vh 0;
}


/****** GENERAL *******/
html, body {
  height: 100%;
}
.ts-navbar {
  position: fixed;
  background: transparent;
  height: 50px;
  width: 100%;
  z-index: 3;
  box-shadow: none;
}
.ts-logo {
  display: block;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  left: .875em;
}
.ts-section {
  height: 100%;
  width: 100%;
  padding: 15vw 15vh;
  z-index: 1;
}



/****** NAV ICON + TRIGGER ******/
.ts-nav-trigger {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 50px;
  text-align: center;
}
.nav-icon {
  /*** Vertical Align ***/
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}



/****** NAV MENU ******/
.ts-nav {
  /*** Default: Hidden Above Viewport ***/
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: rgba(2, 23, 37, 0.80);
  z-index: 2;
  text-align: center;
  padding: 50px 0;
  margin: 0;
  list-style-type: none;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  overflow: auto;
  /*** Flex NAV ***/
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  /*** Flex Direction ***/
  -webkit-box-flex-direction: column;
  -moz-box-flex-direction: column;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
  /*** Justify Content ***/
  -webkit-box-justify-content: space-around;
  -moz-box-justify-content: space-around;
  -ms-justify-content: space-around;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  /*** Overflow Scrolling - Bugfix for Mobile Webkit devices ***/
  -webkit-overflow-scrolling: touch;
  /*** Translate NAV above Viewport ***/
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -o-transform: translateY(-100%);
  transform: translateY(-100%);
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  transition-property: transform;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  transition-duration: 0.4s;
}



/*** NAV LINKS ***/
.ts-nav li {
  font-size: 22px;
  font-size: 1.375rem;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: .2em 0;
  text-transform: capitalize;
}
.ts-nav a {
  display: inline-block;
  padding: .4em 1em;
  border-radius: 0.25em;
  -webkit-transition: background 0.2s;
  -moz-transition: background 0.2s;
  transition: background 0.2s;
}
.no-touch .ts-nav a:hover {
  background-color: #e36767;
}
.ts-nav.is-visible {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
}


/****** CONTENT ******/
#link1,
#link2,
#link3,
.ts-intro {
  z-index: 1;
}
.ts-intro {
  position: relative;
  height: 100%;
  display: table;
  padding: 0;
  margin: 0;
}
.ts-intro h1 {
  height: 100%;
  margin: 0 7vw;
  font-size: 1.5rem;
  padding: 0;
  text-align: center;
  color: white;
  display: table-cell;
  vertical-align: middle;
}
